################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/task1suplimentar.c
